*, *:before,*:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}    

body{
    background-color: rgb(255, 255, 255);
    
   
    
}

nav{
padding: none;
    
    height: 12vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    
    display: flex;
    justify-content: left;
    align-items: center;
  
    
}

.vistas{
    display: flex;
    list-style: none;
  
   
}
.vistas li{

    padding: 15%;
    display: block;
}

.vistas li a{
    font-size: 30px;
    color: rgb(200, 0, 0);
    font-weight: bolder;
    text-decoration: none;
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.vistas li.active a{
    color: white;
}

.inicio{

    padding: 2%;
    height: 80%;
}
.inicio h1{
    font-weight: bolder;
    color: rgb(200, 0, 0);
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inicio .textoInicio{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inicio .textoInicio .texto{

    width: 70%;
 
   
    padding: 2%;
    
}
.inicio .textoInicio .imagen{
    width: 50%;
    height: 80%;

    object-fit: cover;
    margin-left: 10%;
}
.inicio .textoInicio .imagen2{
    width: 50%;
    height: 80%;

    object-fit: cover;
    
}

.carrera{
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
}
.carrera h1{
    font-weight: bolder;
    color: rgb(200, 0, 0);
    font-size: 55px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 3%;
   
}
